<div class="add-section w-full">
  <div class="input-group flex items-center gap-4 justify-between w-full">
    <select
      [(ngModel)]="selectedFruit"
      class="select flex-1 max-w-xs select-primary hover:outline-none focus:outline-none"
      id="inputGroupSelect04"
      aria-label="Example select with button addon"
    >
      <option selected value="">Choose...</option>
      @for (fruit of fruits; track fruit) {
      <option value="{{ fruit }}">
        {{ fruit }}
      </option>
      }
    </select>
    <div class="input-group-append">
      <button
        [disabled]="!selectedFruit"
        class="btn btn-primary"
        type="button"
        (click)="addSelectedFruitToBucket()"
      >
        Add to Bucket
      </button>
    </div>
  </div>
</div>
<div class="page-section w-full">
  <h2 class="text-2xl mt-4 flex items-center gap-2">
    <span>Bucket</span>
    <span class="text-lg material-symbols-outlined"> shopping_cart </span>
  </h2>
  @if (bucket().length > 0) {
  <div class="fruits">
    @for (item of bucket(); track $index) {
    <div
      class="fruits__item !border-l-4"
      [ngClass]="{
        '!border-l-green-400': item.addedBy === 'admin',
        '!border-l-red-400': item.addedBy === 'employee'
      }"
    >
      <div class="fruits__item__title">{{ item.name }}</div>
      @if (userType === 'admin' || (userType === 'employee' && item.addedBy ===
      'employee')) {
      <div
        class="fruites__item__delete-icon flex items-center"
        (click)="deleteFromBucket(item)"
      >
        <div class="material-symbols-outlined">delete</div>
      </div>
      }
    </div>
    }
  </div>
  } @else {
  <div class="fruits__no-items-msg">No items in bucket. Add some fruits!</div>
  }
</div>
